/* =====================================
	Dynamo biblo style.css
	------------------------------------
	biloteks relaterede styles
/*--------------------------------------*/

/* Bibloteks siden */
#twocol-left-top .picture-inner,
#threecol-left-top .picture-inner{
	width:680px; height:200px; overflow:hidden; background:#eee;
}	

#twocol-left-top h1 a, 
#threecol-left-top h1 a{
	color:#000; margin:20px 0 0 0;
}
#twocol-left-top ul.item-list, 
#threecol-left-top ul.item-list{
	margin:10px 0 0 0;
}
#twocol-left-top ul.item-list li, 
#threecol-left-top ul.item-list li {
	display:inline; margin:0 30px 0 0;
}
#twocol-left-top, 
#threecol-left-top {
	background:transparent url(../images/bg-divider.png) no-repeat left bottom; 
	padding:0 0 20px 20px;
}


/* =====================================
bibloteks oversigtsiden
/*--------------------------------------*/
.node-teaser.node-library{background:transparent url(../images/bg-divider.png) no-repeat left top; padding:10px 0 0 0;}

.libary-openstatus{padding:0 5px; display:inline; color:#fff;}
.libary-openstatus.open{background:#71bf44;}
.info .libary-openstatus.closed{background:#6b0046;}

.view-event-list  li,
.view-library-list li{background:transparent url(../images/bg-divider.png) no-repeat left top;  clear:both; padding:10px 0 10px 20px;}

.view-event-list li.first
.view-library-list li.first{background:none;}

.view-event-list .picture,
.view-library-list .picture{
	width:120px; height:120px; margin:0 20px 0 0; float:left;
}
.view-library-list .info{width:355px; ; margin:0 20px 0 0; float:left; }
.view-library-list .office-hours-week{width:175px; float:left;}
.view-library-list .office-hours-week .week-info{background:#d1d9d7}
.view-library-list .office-hours-week .odd, 
.view-library-list .office-hours-week .even{
	padding:0 5px;
} 

.view-event-list .libary-tag div{display:inline;margin:0 5px 0 0;}

/*BOX sprite*/
.box, 
.box .vcard,
.box .library-map,
.pane-library_feature_list,
.pane-library_feature_list  h3,
.pane-library_feature_list .item-list,
.pane-library_hours,
.pane-library_hours h3,
.pane-library_hours .office-hours-week{
	background:transparent url(../images/sprite-box.png) no-repeat 0px 0; width:228px; overflow:hidden;
}
/*biblo adresse*/
.box{background-repeat: repeat-y;}
.box .vcard{background-position:-460px 0px; padding:15px; min-height:170px;}
.box .library-map{background-position:-700px bottom;}
.box .library-map{padding:15px 15px 10px 15px;}
.box .library-map-inner{width:194px; height:140px;}

/*features*/
.pane-library_feature_list{background-repeat: repeat-y; margin:0 0 0 10px;}
.pane-library_feature_list h3{background-position:-230px -30px; padding:10px 0 0 10px; height:18px; }
.pane-library_feature_list .item-list{background-position:-700px bottom; padding:0px 0px 10px 20px; min-height:30px;}
.pane-library_feature_list ul li{background:transparent url(../images/ok.png) no-repeat left center; padding:0 0 0 15px;}

/*åbningstider*/
.pane-feature_list-block_1{background-repeat: repeat-y;}
.pane-library_hours h3{background-position:-230px -30px; padding:6px 0 0 20px; height:21px;}
.pane-library_hours .office-hours-week{background-position:-700px bottom; padding:0 0 10px 0; }

.pane-library_hours .office-hours-week .even,
.pane-library_hours .office-hours-week .odd{
	width:190px; padding:0 10px; margin:0 10px;
}
.pane-library_hours .office-hours-week .week-info{margin:0 0 0 20px;}
.week-info a.prev{ color:#757575;}
.week-info a.next{color:#757575;}
.office-hours-week .odd{background:#f3f5f5;}
.office-hours-week .even{background:#fff;}

/*links*/
.pane-library_location .links li{display:block;}
.pane-library_location .links li a{background:transparent url(../images/icons/arrow.png) no-repeat left center; padding:0 0 5px 20px; font-size:10px;}
/*icons*/
.pane-library_location .links li a.rejseplanen{background:transparent url(../images/icons/rejseplanen.gif) no-repeat}
.pane-library_location .links li a.findvej{background:transparent url(../images/icons/findvej.png) no-repeat}
.pane-library_location .links li a.blogger{background:transparent url(../images/icons/blogger.png) no-repeat}
.pane-library_location .links li a.delicious{background:transparent url(../images/icons/delicious.png) no-repeat}
.pane-library_location .links li a.facebook{background:transparent url(../images/icons/facebook.png) no-repeat}
.pane-library_location .links li a.feed{background:transparent url(../images/icons/feed.png) no-repeat}
.pane-library_location .links li a.flickr{background:transparent url(../images/icons/flickr.png) no-repeat}
.pane-library_location .links li a.friendfeed{background:transparent url(../images/icons/friendfeed.png) no-repeat}
.pane-library_location .links li a.linkedin{background:transparent url(../images/icons/linkedin.png) no-repeat}
.pane-library_location .links li a.livejournal{background:transparent url(../images/icons/livejournal.png) no-repeat}
.pane-library_location .links li a.myspace{background:transparent url(../images/icons/myspace.png) no-repeat}
.pane-library_location .links li a.netvibes{background:transparent url(../images/icons/netvibes.png) no-repeat}
.pane-library_location .links li a.newsvine{background:transparent url(../images/icons/newsvine.png) no-repeat}
.pane-library_location .links li a.picasa{background:transparent url(../images/icons/picasa.png) no-repeat}
.pane-library_location .links li a.stumbleupon{background:transparent url(../images/icons/stumbleupon.png) no-repeat}
.pane-library_location .links li a.twitter{background:transparent url(../images/icons/twitter.png) no-repeat}
.pane-library_location .links li a.vimeo{background:transparent url(../images/icons/vimeo.png) no-repeat}
.pane-library_location .links li a.wordpress{background:transparent url(../images/icons/wordpress.png) no-repeat}
.pane-library_location .links li a.youtube{background:transparent url(../images/icons/youtube.png) no-repeat}



/*blog comments*/
ul.item-list h3{margin:0 0 0 20px;}
ul.item-list li{margin:0 0 0 20px;}


/* =====================================
#twocol-right
/*--------------------------------------*/

/*blog catagorier*/
.pane-blog_category_list,.pane-blog_category_list h3,.pane-blog_category_list ul{background:transparent url(../images/sprite-box.png) no-repeat 0px 0; width:228px; overflow:hidden;}
.pane-blog_category_list{background-repeat: repeat-y; }
.pane-blog_category_list h3{	background-position:-230px -30px; padding:6px 0 4px 20px; height:18px; }
.pane-blog_category_list ul {background-position:-700px bottom; padding:8px 0px; min-height:30px;}
.pane-blog_category_list li{margin:0 0 0 20px;}

/*artikel list*/
#twocol-right .pane-article_list,
#twocol-right .pane-article_list h3,
#twocol-right .pane-article_list ul{
	background:transparent url(../images/sprite-box.png) no-repeat 0px 0; width:228px; overflow:hidden;
}
#twocol-right .pane-article_list{background-repeat: repeat-y; }
#twocol-right .pane-article_list h3{background-position:-230px -30px; padding:6px 0 4px 20px; height:18px; }
#twocol-right .pane-article_list ul {background-position:-700px bottom; padding:8px 0px; min-height:30px;}
#twocol-right .view-article-list li{background:none; padding:0; margin:0 0 0 20px;}
#twocol-right .view-article-list li li{background:none; padding:0; margin:0;}

/*sidste kommantere*/
.pane-comment-0,.pane-comment-0 h3,.pane-comment-0 ul{background:transparent url(../images/sprite-box.png) no-repeat 0px 0; width:228px; overflow:hidden;}
.pane-comment-0{background-repeat: repeat-y; }
.pane-comment-0 h3{background-position:-230px -30px; padding:6px 0 4px 20px; height:18px; }
.pane-comment-0 ul{background-position:-700px bottom; padding:8px 0px; min-height:30px;}

/*tagadelic*/
.pane-tagadelic-2{width:200px; overflow:hidden; padding:20px 0 0 20px;}


.pane-library_title{display:block;}