/* =====================================
 	layout.css
	the basic layou for page & panels
	
/*--------------------------------------*/

body{background:#e5e5e5 url(../images/bg.png) repeat-x 0 0;}
#container{background:transparent url(../images/bg-header.png) no-repeat center 0;}
#page{width:994px; margin: 0 auto;}

/* sitename */	
#site-name {text-indent: -9999em; margin: 0px 17px 0 720px; padding:17px 0 0 0; height:22px;}
	body.admin-menu #site-name {margin: 12px 17px 0 720px;}
	#site-name a{height:24px; width:252px; display: block; overflow:hidden; background:transparent url(../images/logo-temp.png) no-repeat 0 0;}

/* header */
#pageheader{background:transparent url(../images/bg-header.png) no-repeat center -39px; margin:0 0 0 1px; min-height:200px;}
	body.front #pageheader{min-height:175px;}
	#top{height:145px;}
		#search{width:600px; height:100px; margin:26px 0 0 56px; color:#fff;}
		#account{width:260px;height:125px; margin:20px 0 0 77px;}
	#navigation{height:30px;}
		#navigation-inner{margin:0 37px;}
	#path{margin:5px 37px 0;}
		#path div.breadcrumb{display:inline;}
		#path ul.breadcrumb {display: inline;}
		#path ul.breadcrumb li {margin:0;}
		
/* body */
#pagebody{background:transparent url(../images/bg-page.png) repeat-y 0 0;}
	#pagebody-inner{background:transparent url(../images/bg-page-top.png) no-repeat 0px 0px; padding:0 17px 0 17px; /*32*/ /*37*/}
	#content-left{width:130px;float:left;}
	#content{width:560px; float:left;}
	body.no-sidebars #content{width:960px; float:left;}
	body.sidebar-right #content{width:730px; float:left;}
	#content-right{width:230px;float:left;}

/* footer */	
#pagefooter{background:transparent url(../images/bg-footer.png) no-repeat 0 bottom; padding:0 0 20px 0;}
	#pagefooter-inner{padding:0px 32px 0 17px; background:transparent url(../images/bg-footer.png) no-repeat 0 top;}	
		#pagefooter-inner div.left{width:196px; min-height:200px; padding:10px 20px 0 20px; background:transparent url(../images/bg-footer-divider.png) no-repeat left 0;}
		#pagefooter-inner div.first{background-image:none;}
		#pagefooter ul li a{background:transparent url(../images/pil.png) no-repeat left center; padding:0 0 0 10px;}		

#content-inner{min-height:500px; height:auto !important; height:500px;}


/* =====================================
Menu 
/*--------------------------------------*/
#navigation{margin:0; overflow:hidden; height:30px; font-family: "Gill Sans",  sans-serif; text-transform: uppercase;}
	#navigation li {padding:0 0px 0 10px; margin:0 20px; height:30px; list-style: none; float:left; position: relative;}
	#navigation li.first{margin:0 20px 0 0;}
	#navigation li.active {background:url(../images/menu-left.png) no-repeat left top; }
	#navigation li a{margin:0; padding:6px 10px 0 0; height:30px; display: block; float:left; }
	#navigation li.active a{color:#eee; background: url(../images/menu-right.png) no-repeat right top;}
	#navigation a {color:#fff;}

/* left navigation */	
#content-left{border-right: 1px solid #d1d9d7;}
	#content-left li{border: 1px solid #d1d9d7;  height:20px; margin:0 0 4px 0; padding:4px 0 0 10px;}
	#content-left li.active{background:#f1f5f4;}


/* =====================================
Panels basic content layouts
all content based on search results are in the search.css
/*--------------------------------------*/

.content-top{background:transparent url(../images/bg-divider.png) no-repeat -20px bottom; padding:0 0 20px 20px;}
	.content-top .picture-inner{width:680px; height:200px; overflow:hidden; background:#eee;}
	.content-top ul.item-list{margin:10px 0 0 0;}
	.content-top ul.item-list li {display:inline; margin:0 30px 0 0;}
	.content-top  h1 a{color:#000; margin:20px 0 0 0;}
	
.content-left{width:716px; float:left; overflow:hidden;}
.content-middle{float:left; overflow:hidden;}
.content-right{width:244px; float:left; overflow:hidden;}

.panel-top{padding:0 0 20px 20px; background:transparent url(../images/bg-divider.png) no-repeat left bottom;}

/*frontpage*/
.panel-threecol-33-34-33-stacked .panel-top{width:960px; clear:both; height:240px; padding:0;}
.panel-threecol-33-34-33-stacked .panel-content{clear:both}
	.panel-threecol-33-34-33-stacked .panel-left{width:470px;float:left; min-height:300px; background:transparent url(../images/bg-divider-horizontalt.png) repeat-y right top; }
	.panel-threecol-33-34-33-stacked .panel-middle {width:240px; float:left; background:transparent url(../images/bg-divider-horizontalt.png) repeat-y right top;}
	.panel-threecol-33-34-33-stacked .panel-right{width:247px; margin:0 0 0 3px; float:left;}
	.panel-threecol-33-34-33-stacked .panel-bottom{width:960px; clear:both;}

/*panel-twocol-left-stacked  */
.panel-twocol-left-stacked .content-left{width:716px; float:left; overflow:hidden;}
	.panel-twocol-left-stacked .panel-top{padding:0 0 20px 20px; background:transparent url(../images/bg-divider.png) no-repeat left bottom; }
	.panel-twocol-left-stacked .panel-left{width:700px;}
	.panel-twocol-left-stacked .panel-bottom{width:700px;}
.panel-twocol-left-stacked .content-right{width:244px; float:left; overflow:hidden;}

/*panel-threecol-left-stacked*/
.panel-threecol-left-stacked .panel-left{width:470px; float:left; background: transparent url(../images/bg-divider-horizontalt.png) no-repeat right top;}
.panel-threecol-left-stacked .panel-middle{width:240px; float:left;}
.panel-threecol-left-stacked .content-top{padding:0 0 30px 20px;}

/*panel-threecol-left-stacked-right*/
.panel-threecol-left-stacked-right .panel-left{width:220px;  margin:0 0 0 20px; float:left;}
.panel-threecol-left-stacked-right .panel-middle{width:470px; float:left;}

#collection{}


