/* =====================================
	style.css
	widgets and elements inside the pages
	------------------------------------
/*--------------------------------------*/
/*overlabel*/
form{clear: both;}
form label.overlabel-apply{position:absolute; z-index:1; color:#666; margin:3px 0 0 5px; font-size:10px;} 
form label.overlabel-apply .form-required{color:#900;}
form div.description{font-size:10px; line-height:12px; color:#999; padding:5px; width:400px;}
form div.overlabel-wrapper{margin:10px;}

/* =====================================
ting search block
/*--------------------------------------*/
#search h3{text-indent: -9999em; height:55px; margin:0; padding:0; background:transparent url(../images/search.png) no-repeat 0 0; }
#search .form-item{margin:0;}
#search #edit-keys-wrapper{float:left; display:inline;}
	#ting-search-form{position:relative; width:610px; float:left;}
	#ting-search-form .form-text{height:20px; width:468px; margin:0 10px 0 0; padding:4px 0 0 25px;  background:#fff url(../images/magnifier.png) no-repeat 9px 5px; border: 1px solid #999; font-size:13px; color:#929292; float:left;}
		form#ting-search-form label.overlabel-apply{margin:3px 0 0 30px; font-size:13px; font-weight:normal;} 
	#ting-search-form .form-button{float:left; display:block; height:29px; width:94px; background:transparent url(../images/searchbutton.png) no-repeat 0 0;;}
		#ting-search-form .form-button input{ border:0; background:transparent; margin:5px 10px; color:transparent; font-weight:bold; text-indent: -9999em; }


/* =====================================
Account block
/*--------------------------------------*/
/*login*/
#account h3{text-indent: -9999em; height:21px; background:transparent url(../images/logind.png) no-repeat 0 0; margin:10px 0 0 0; padding:0;}
	#user-login-form .form-item{margin:0 0 3px 0;}
	#user-login-form .form-text{ height:17px; margin:0; padding:0; background-color: #fff; border-top: 1px solid #ddd; border-left: 1px solid #ddd; }

	#edit-name-wrapper{width:220px;}
		#edit-name-wrapper input{width:220px;}
	#edit-pass-wrapper{width:160px; float:left;}
		#edit-pass-wrapper input{width:160px;}

	#user-login-form .form-button{width:60px;height:20px; display:block; float:left;overflow:hidden; padding:0; margin:1px 0 0 3px; background:transparent url(../images/accountlogin.png) no-repeat right center;}
		#user-login-form .form-button span {background:transparent url(../images/accountlogin.png) no-repeat left center;}
			#user-login-form .form-button span input{background:transparent; border: 0px solid #999; color:#fff;}

		#user-login-form ul{clear:both;}
			#user-login-form ul li{float:left; margin:0 10px 0 0;}

/* =======================================
	pager
/* ------------------------------------- */
ul.pager{}
ul.pager li{padding:0;}
ul.pager li{margin:0 10px 0 0;}
ul.pager li.pager-previous{}
ul.pager li.pager-next{}
ul.pager li.last{}
ul.pager li.pager-item{}
ul.pager li.pager-current{}


/* pagers */
#pager, ul.pager{height:30px; margin:0 0 20px 0; padding:0 0 0 10px; clear:both; background:transparent url(../images/bg-pager.gif) no-repeat left top; font-size:10px;}
/*-- search  --*/
#pager a{margin:3px 0 0 0;}
	#pager a.hidden{display:none;}
	#pager a,#pager  a:link, #pager a:active {text-decoration: none; color:#666;}
 	#pager a:visited{color:#050505}
	#pager a:hover, #ting-result-pager a:focus { text-decoration: underline; color:#666;}
	#ting-result-pager li.current a,#ting-result-pager li.current a:link,	#ting-result-pager li.current a:active,	#ting-result-pager li.current a:visited	{color:#000; font-weight:bold;}

	#pager div.navwide, 
	ul.pager li.pager-next,
	ul.pager li.pager-last,
	ul.pager li.pager-previous,
	ul.pager li.pager-first	{width:54px; height:24px; padding:3px 2px 0 2px; font-size:9px; float:left; text-align:center; background:transparent url(../images/bg-pager-link-nav.gif) no-repeat left top;}
	#pager div.nav, ul.pager li{width:30px; height:24px;font-size:9px; padding:3px 2px 0 2px; float:left; text-align:center; background:transparent url(../images/bg-pager-link.gif) no-repeat left top;}	
		#pager a.prev{background:transparent url(../images/arrow-pre.png) no-repeat left center; padding:0 0 0  5px;}
		#pager a.next{background:transparent url(../images/arrow.png) no-repeat right center; padding:0 5px 0 0;}

	#ting-result-pager ul{display:inline}
	#ting-result-pager ul li{width:30px; height:24px; float:left; padding:3px 2px 0 2px; text-align:center; background:transparent url(../images/bg-pager-link.gif) no-repeat left top; }
	#ting-result-pager ul li.current,
	ul.pager li.pager-current{width:32px; height:28px; padding:3px 2px 0 2px;  background:transparent url(../images/bg-pager-link-active.gif) no-repeat left top;}
/* pager*/



/* =====================================
Panels styles
/*--------------------------------------*/
.ding-box-pane{width:228px; background:transparent url(../images/sprite-box.png) repeat-y 0px 0; overflow:hidden;}
	.ding-box-pane h3{width:228px; padding:8px 0 4px 20px; height:18px; background:transparent url(../images/sprite-box.png) no-repeat -230px -30px; overflow:hidden;}
	.ding-box-pane ul{width:228px; padding:8px 0px; min-height:30px; background:transparent url(../images/sprite-box.png) no-repeat -700px bottom;  overflow:hidden; }
	.ding-box-pane li{margin:0 0 0 20px;}



/* =====================================
Campaigns
/*--------------------------------------*/
.pane-relevant_campaigns{width:215px; overflow:hidden; padding:0 0 10px 8px;}
	.pane-relevant_campaigns .campaign, .pane-relevant_campaigns .node{margin:0 0 10px 0; border: 1px solid #999;}
	.campaign-type-image-only{width:214px; height:334px; background:#ccf;}
	.campaign-type-text-only{	width:218px; height:60px; padding:10px 0px 10px 10px; overflow:hidden;	background:transparent url(../images/sprite-box.png) no-repeat -230px -60px; }
	.campaign-type-text-only a{color:#ccc; width:210px; height:60px; display:block; overflow:hidden; font: normal normal normal 16px/18px "Gill sans", sans-serif;	text-transform: uppercase;  }
	.campaign-type-image-only{}
	.campaign{margin:10px 0;}

	/*themes*/
	.campaign-theme-red{}

/* =====================================
basic elements
/*--------------------------------------*/
.meta ul{display:inline;}
.meta li{display:inline}

.node .taxonomy{padding:10px 0 0 0;}
.node .taxonomy ul{margin:0;}
.node .taxonomy ul li{padding:0 5px 0 0;}
.node-page .content{margin:10px 0 0 0;}		
.more-link a{background:transparent url(../images/arrow.png) no-repeat right center; padding:0 5px 0 0; }

/*node + list*/
.node .meta ul{margin:0 0 0 10px;}
.meta div.taxonomy{display:inline;}
.meta li {padding:0 10px 0 0;}

.view-empty,
.feed, 
.more-link{
	margin:20px 0 0 20px; 
}

.minheight{min-height:500px; height:auto !important; height:500px;}

div.messages{margin:0 20px 10px 20px;}
/* =====================================
Cowboy small trix not "really" implementet yet
/*--------------------------------------*/
#block-ding_library_map-0 {width:690px; margin:0 0 0 20px;}
#pane-library_title{display:block;}
.comment_filter{display:none;}
.pane-library_list-panel_pane_1 >h3{display:none;}

