/*profiler */

body.section-user #content-main{margin:20px 0 0 20px;}


.node-profile .field-image{width:120px; height:120px;background:#eee;}
#contact-mail-user{margin:0 0 0 20px;}
.contact{background:#999; padding: 3px 10px; color:#fff; margin:0 20px 0 0;;}
